# The directory Mix will write compiled artifacts to.
/_build/

/reports/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Temporary files, for example, from tests.
/tmp/

# Ignore package tarball (built via "mix hex.build").
soundboard-*.tar

# Ignore assets that are produced by build tools.
/priv/static/assets/

# Ignore digested assets cache.
/priv/static/cache_manifest.json
/priv/static/favicon-*.ico
/priv/static/manifest-*.json
/priv/static/manifest-*.json.gz
/priv/static/manifest.json.gz
/priv/static/robots-*.txt
/priv/static/robots-*.txt.gz
/priv/static/robots.txt.gz
/priv/static/images/icon-*
/priv/static/images/*-*

# In case you use Node.js/npm, you want to ignore these.
npm-debug.log
/assets/node_modules/

/priv/static/uploads/

.env

.DS_Store


CLAUDE.md

.serena

TODO

.desloppify/
.pi/

.env.local
